body {
  background-color: #404D5E;
}

header {
  background-color: #272930;
  width: 100%;
  height: 75px;
  margin: 20px 0px 25px 0px;
  border: 1px solid #3c3c3c;
}

footer {
  background-color: #272930;
  width: 100%;
  height: 200px;
  clear: both;
  margin: 25px 0px 0px 0px;
  border: 1px solid #3c3c3c;
}

h3 {
  font-size: 20px;
  font-family: serif;
  margin: 5px;
  color: black;
}

h5 {
  font-size: 18px;
  color: white;
  margin: 3px;
}

h6 {
  font-size: 16px;
  color: #D22B1E;
  margin: 3px;
}

table {
  border: 1px solid black;
}

/* The top nav */


nav ul {
  	background-color: #272930;
  	padding: 0px 20px 0px 20px;
    list-style: none;
  	position: relative;
  	display: inline-block;
    border: 1px solid #3c3c3c;
    width: 62%;
    color: white;
    margin-left: 160px;
    margin-top: 140px;
    margin-bottom: 100px;
    padding-left: 100px;
  }

  nav ul li {
  	float: left;
  }

nav ul li:hover {
		background: #CFBC7E;
	}

nav ul li:hover a {
			color: #fff;
		}

nav ul li a {
		display: block;
    padding: 25px 40px 25px 40px;
		color: #757575;
    text-decoration: none;
	}


/*Main classes */

.mainCard {
  width: 65%;
  float: left;
  padding: 10px 10px 10px 20px;
  border: 1px solid black;
  margin-bottom: 10px;
  background-color: #EBEBEB;

}

.sideBar {
  width: 29%;
  float: right;
  padding: 10px 10px 10px 10px;
  border: 1px solid #3c3c3c;
  background-color: #EBEBEB;
}

.boxline {
  border: 1px solid #3c3c3c;
  padding: 10px;
  margin: 5px;
  background-color: #FFFFFF;
  display: inline-block;
}

.boxwhite {
  border: 1px solid #3c3c3c;
  padding: 10px;
  margin: 5px;
  background-color: #FFFFFF;
}

.boxblack {
  border: 1px solid #3c3c3c;
  padding: 10px;
  margin: 5px;
  background-color: #EBEBEB;
}

.boxmap {
  border: 1px solid #3c3c3c;
  padding: 10px;
  margin: 5px;
  background-color: #EBEBEB;
  width: 63%;
  margin-left: 200px;
}

.box {
  border: 1px solid #3c3c3c;
  padding: 10px;
  margin: 5px;
  background-color: #242424;
}

.pageName {
  text-align: center;
  margin: 5px;
  color: white;
}

.social {

margin: 50px 10px 50px 520px;
display: inline-table;
}

.mainLogo {
  display: inline-table;
  margin-left: 430px;
  position: absolute;
  z-index: 1;
}
/*This is for the Home Page */

.hero {
  margin-left: 45px;
  display: inline-table;
}

.blogT {
  text-align: center;
  display: inline-table;
}

.blogP {
  font-size: 18px;
}

/* This is for the roster page */

.rosterGrid {
  width: auto;
  border: 1px solid black;
  margin: 5px 1px 5px 1px;
  display: inline-table;
  background-color: #ebebeb;
}


/* This is for the player card */

.skillCol {
  width: 60%;
  float: left;
  padding: 10px;
  margin: 0px;
  padding: 10px;
}

.profImage {
  width: 30%;
  float: left;
  padding: 10px;
  margin-right: 10px;
}

.playerName {
  text-align: center;
  margin: 5px;
  color: black;
}

.skilltable {
  width: 385px;
  margin-left: 35px;
}

/* Stats Table */

.statstable {
  margin-left: 35px;
}

.statsCat {
  border: 1px solid black;
  background: black;
  color: white;
  font-size: 24px;
  padding: 20px;
  margin: 10px;
}

.rowOne {
  border: 1px solid black;
  background-color: #CFBC7E;
  text-align: center;
  padding: 20px;
  font-size: 20px;
  margin: 10px;
}

.rowTwo {
  border: 1px solid black;
  background-color: #CFBC7E;
  text-align: center;
  padding: 20px;
  font-size: 20px;
  margin: 10px;
}

/*This is the hightlight page */

.highlightbod {
  background-color: black;
}

.highlightGrid {
  width: auto;
  border: 1px solid #3c3c3c;
  margin: 5px 3px 5px 3px;
  display: inline-table;
  background-color: #242424;

}

.highlightSmall {
  width: auto;
  border: 1px solid #3c3c3c;
  margin: 5px 2px 5px 2px;
  display: inline-table;
  float: right;
  background-color: #242424;

}

.highlightRow {
  width: auto;
  border: 1px solid #3c3c3c;
  margin: 5px 3px 5px 3px;
  display: inline-table;
  float: right;

}

.alertP {
  color: red;
  margin: 0px;
  text-align: center;
}

.directions {
display: inline-table;
}

.vids {
  padding: 5px;
  margin-left: 5px;
}

.vidtime {
  float: right;
  margin: 0px 5px 10px 0px;
  color: #f8f8f8;
  font-weight: bold;
}

.fb {
  margin-bottom: 15px;
}
